<form asp-controller="Product" asp-action="GetProduct" onsubmit="return checkInputValue()" method="post">
    <div class="input-group input-group-sm mb-3">
            <input name="SearchProperty" style="box-shadow:none" type="text" class="form-control" placeholder="Product name or ID">
            <button type="submit" style="box-shadow:none" class="btn btn-primary">Search</button>
        </div>
</form>
<script>
    const input = document.querySelector("input");
    function checkInputValue()
    {
        let str = input.value.trim()
        if(str.length === 0){
            alert("Please enter ID or Name of the product")
            return false;
        }
        return true
    }
</script>